@if (!rows().length && empty(); as nothing) {
  <p class="note">{{ nothing }}</p>
} @else {
  @if (note(); as said) {
    <p class="note">{{ said }}</p>
  }
  <ul class="rows">
    @for (view of views(); track view.row.key) {
      @if (detail(); as opened) {
        <li class="openable">
          <button
            type="button"
            class="line"
            [attr.data-key]="view.row.key"
            [attr.aria-expanded]="view.isOpen"
            [attr.aria-controls]="view.isOpen ? view.detailId : null"
            (click)="toggled.emit(view.row.key)"
          >
            @for (cell of view.row.cells; track $index) {
              <span [class]="cell.classes">{{ cell.text }}</span>
            }
          </button>
          @if (view.isOpen) {
            <div class="detail" [id]="view.detailId">
              <ng-container [ngTemplateOutlet]="opened" />
            </div>
          }
        </li>
      } @else {
        <li>
          @for (cell of view.row.cells; track $index) {
            <span [class]="cell.classes">{{ cell.text }}</span>
          }
        </li>
      }
    }
  </ul>
}
