@let c = chart();
<svg
  [attr.width]="c.width"
  [attr.height]="c.height"
  [attr.viewBox]="'0 0 ' + c.width + ' ' + c.height"
  role="img"
  [attr.aria-label]="label()"
>
  @for (line of c.grid; track $index) {
    <line
      class="grid"
      [attr.x1]="line.x1"
      [attr.x2]="line.x2"
      [attr.y1]="line.y1"
      [attr.y2]="line.y2"
    />
  }
  @for (bar of c.bars; track $index) {
    <rect
      class="bar"
      [attr.x]="bar.x"
      [attr.y]="bar.y"
      [attr.width]="bar.width"
      [attr.height]="bar.height"
      rx="3"
      [attr.data-tip]="bar.tip"
    />
  }
  @for (text of c.values; track $index) {
    <text class="val" [attr.x]="text.x" [attr.y]="text.y" [attr.text-anchor]="text.anchor">
      {{ text.text }}
    </text>
  }
  @for (text of c.axis; track $index) {
    <text class="axis" [attr.x]="text.x" [attr.y]="text.y" [attr.text-anchor]="text.anchor">
      {{ text.text }}
    </text>
  }
</svg>
